header {
	text-align: center;
	background-color: #2F4E66;
	min-height: 3em;
}

header img {
	display: inline-grid;
	vertical-align: middle;
	width: 3em;
	padding: 0.5em 0;
}

header h1 {
	display: inline-flex;
	vertical-align: middle;
	font-size: 1.5em;
	font-weight: 700;
	color: white;
	margin: 0;
	margin: 0.5em;
}

.poster-image {
	display: flex;
	max-width: 100%;
}
