@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

body {
	background-color: #F3F3F3;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.modal {
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
	position: relative;
    background-color: #fefefe;
		width: 90%; /* Could be more or less, depending on screen size */
    margin: 20px auto; /* 15% from the top and centered */
    padding: 0px;
    border: 1px solid #888;
		height: 80%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
		padding: 0 10px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
